* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

$softOrange: hsl(35, 77%, 62%);
$softRed: hsl(5, 85%, 63%);
$offWhite: hsl(36, 100%, 99%);
$grayishBlue: hsl(233, 8%, 79%);
$darkGrayishBlue: hsl(236, 13%, 42%);
$veryDarkBlue: hsl(240, 100%, 5%);

body {
	font-size: 15px;
	font-family: 'Inter', sans-serif;
}

.wrapper {
	max-width: 375px;
	padding: 1em;

	.top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 0 1em 0;

		&__burger,
		&__close {
			transform: scale(1.2);
			position: fixed;
			top: 1.5em;
			right: 2em;
			z-index: 100;
			padding: 0.5em;
		}
		&__burger {
			display: block;
		}
		&__close {
			top: 1em;
			display: block;
		}
	}
	.navigation {
		display: flex;
		align-items: center;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: $offWhite;
		font-size: 1.7rem;
		transform: translateX(100%);
		transition: transform 0.3s;
		&__list {
			list-style-type: none;
			padding-left: 1em;
			&-item {
				margin: 1em 0 1em 0;
				cursor: pointer;
				transition: 0.3s;

				&:hover {
					transform: scale(1.2);
					transform-origin: center;
				}
			}
		}
		&__animation {
			transform: translateX(0);
		}
	}
	.header {
		padding-bottom: 4em;
		&__img {
			img {
				width: 100%;
			}
		}
		&__title {
			font-weight: 900;
			margin: 0.5em 0;
		}
		&__text {
			margin-bottom: 1.5em;
			color: $darkGrayishBlue;
		}
		&__button {
			button {
				border: none;
				padding: 1em 2.5em;
				text-transform: uppercase;
				letter-spacing: 3px;
				font-weight: 700;
				background-color: $softRed;
				color: $offWhite;
			}
		}
	}
	.articles {
		padding: 1em 1em;
		background-color: $veryDarkBlue;
		color: $offWhite;
		font-weight: 400;
		&__title {
			color: $softOrange;
			font-size: 1.5rem;
		}
		&__article {
			padding: 1.5em 0;
			&-title {
				font-size: 1rem;
				padding-bottom: 0.5em;
			}
			&-text {
				font-size: 0.7rem;
			}

			&:nth-child(3) {
				border-top: 1px solid $grayishBlue;
				border-bottom: 1px solid $grayishBlue;
			}
		}
	}
	.adv {
		padding: 1em 0;
		&__item {
			display: flex;
			margin-bottom: 1em;
		}
		&__img {
			flex-basis: 20%;
			img {
				width: 100%;
				height: 100%;
			}
		}
		&__content {
			display: flex;
			flex-basis: 80%;
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-between;
			padding-left: 1em;
			&-number {
				font-size: 1.5rem;
				letter-spacing: 2px;
				color: $grayishBlue;
				font-weight: 700;
			}
			&-title {
				margin: 0.5em 0;
				font-size: 0.8rem;
				color: $veryDarkBlue;
			}
			&-text {
				font-size: 0.8rem;
			}
		}
	}
	.hidden {
		display: none;
	}
}
